<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div  class="m-b-md">
                <h2 class="title m-b-md">
                    Search Streamer
                </h2>
                    <input v-model="streamer" type="text" name="streamer" id="streamer" />
                    <button type="button" class="btn btn-primary" v-on:click="getChannels" id="button">Search</button>
                <div v-if="loading">
                    <img src="/assets/loader.gif"/>
                    Loading.....
                </div>

                <div class="wrapper">
                    <div class="row" style="padding-left: 15%; padding-top: 2%;">
                        <div v-for="channel in channels" :key="channel._id" class="new-class">
                            <a :href="'streamer/' + channel.name + '/' + channel._id">
                                <div class="col-md-4 cards">
                                    <img :src="channel.logo" width="100" height="100" class="img-responsive" :alt="channel.name">
                                    <div>
                                        <h3>{{ channel.name }}</h3>
                                        <p>{{ channel.display_name }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';
    export default {
        name: 'app',
        data () {
            return {
                channels: [],
                loading: false,
                streamer: ""
            }
        },
        methods: {
            getChannels: function () {
                this.loading = true;
                axios.get("/api/search/" + this.streamer)
                    .then((response)  =>  {
                        console.log(response.data.channels);
                        this.loading = false;
                        this.channels = response.data.channels;
                    }, (error)  =>  {
                        this.loading = false;
                    })
            }
        },
    }
</script>

<style scoped>
    .wrapper a {
        color: black;
    }

    .new-class {
        text-align: center;
        justify-items: center;
        justify-content: center;
    }
    .top {
        width: 100%;
        height: 510px;
    }
    .bottom {
        width: 100%;
        display: flex;
        justify-content: left;
    }
    .events {
        justify-content: left;
        text-align: left;
        padding-left: 15%;
    }
    .video {
        padding-left: 15%;
        float: left;
    }
    .chat-frame {
        float: left;
    }

    .full-height {
        height: 100vh;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }
    .position-ref {
        position: relative;
    }
    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }
    .content {
        text-align: center;
        width: 100%;
        top: 0;
    }
    .title {
        font-size: 60px;
    }
    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
    .m-b-md {
        margin-bottom: 30px;
        color: #000000;
    }
</style>