<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div  class="m-b-md">
                <h2 class="title m-b-md">
                    {{ $route.params.streamer }}
                </h2>
                <div class="top">
                    <div id="twitch-embed" class="video"></div>
                    <div class="chat-frame">
                        <iframe frameborder="0"
                                scrolling="true"
                                :id="$route.params.streamer"
                                :src="'https://www.twitch.tv/embed/' + $route.params.streamer + '/chat'"
                                height="480"
                                width="500">
                        </iframe>
                    </div>
                </div>
                <div class="bottom">

                    <div class="events">
                        <h2>Events</h2>
                        <ul>
                            <li v-for="event in events" :key="event._id">
                                {{event.from_name}} following {{channel}}
                                <div style="clear:both; width:100%;"></div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>


<script>

    import axios from 'axios';

    export default {
        filters: {

        },
        components: {
        },
        data() {
            return {
                channel: this.$route.params.streamer,
                streamerId: this.$route.params.streamerId,
                events: []
            };
        },
        methods: {
            registerEvents: function () {
                axios.get("/api/stream/" + this.channel + "/" + this.streamerId + "/register")
                    .then((response)  =>  {
                        console.log("Event Registered");
                    }, (error)  =>  {
                        console.log(error)
                    })
            },
            watchChannelBroadcasting: function() {
                console.log(1111);
                var self = this
                console.log("streamer-event-" + self.streamerId);
                window.Echo.channel("streamer-event-" + self.streamerId)
                    .listen("StreamerEvent",
                        function(event) {
                            if(self.events.length === 10) {
                                self.events.splice(-1,1)
                            }
                            self.events.unshift(event.params.data[0]);
                        }
                    );
            },
            changeWH: function (url) {
                if (!url) return ''
                url = url.toString()
                return url.replace("{width}x{height}", "75x75")
            }
        },
        mounted: function() {
            this.registerEvents();
            this.watchChannelBroadcasting();

            var embed = new Twitch.Embed("twitch-embed", {
                width: 854,
                height: 480,
                channel: this.channel,
                layout: "video",
                autoplay: false
            });

            embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
                var player = embed.getPlayer();
                player.play();
            });
        }
    }
</script>

<style scoped>
    .top {
        width: 100%;
        height: 510px;
    }
    .bottom {
        width: 100%;
        display: flex;
        justify-content: left;
    }
    .events {
        justify-content: left;
        text-align: left;
        padding-left: 15%;
    }
    .video {
        padding-left: 15%;
        float: left;
    }
    .chat-frame {
        float: left;
    }

    .full-height {
        height: 100vh;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }
    .position-ref {
        position: relative;
    }
    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }
    .content {
        text-align: center;
        width: 100%;
        top: 0;
    }
    .title {
        font-size: 60px;
    }
    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
    .m-b-md {
        margin-bottom: 30px;
        color: #000000;
    }
</style>
