<template>
    <div class="login-container">
        <div class="row justify-content-center align-middle">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <p>Runner your login</p>
                        <a href="/auth">
                            <button type="button" class="btn btn-primary">Login with Twitch</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
